@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PWApp</h1>
    <h3 class="text-center">Cadastro de Super-Heróis</h3>
    <a asp-action="Index" asp-controller="SuperHeroi" class="btn btn-success">Credenciamento</a>
</div>
