@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PWApp</h1>
    <h4 class="text-center mt-2">Oficina: Criando Aplicações em PWA com ASP.Net Core</h4>
    <a asp-action="Index" asp-controller="SuperHeroi" class="btn btn-primary mt-2">Ir Para o Credenciamento</a>
</div>
