@{
    ViewData["Title"] = "Semana Acadêmica do IFRO";
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <p>Aplicação para oficina aplicada no dia 13/11/2019 na Semana Acadêmica do IFRO - Instituto Federal de Rondônia</p>

    <p>Código fonte disponível em: https://github.com/alexrochaf/PWA---ASPNET-CORE-3.0</p>
</div>